<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenidos viajeros de <%= title %></p>
    </br>
    <h2>Ya salió el primer Lab1 de AZ 900 - Ciencia de Datos 💻 </h2>
    <br>
    <h3>Hola desde GitHub CodeSpaces</h3>
    </body>


  </body>
</html>
